.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #888;
  cursor: pointer;
}
.arrow:hover {
  fill: #fff;
}
.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

/* .arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
} */

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #e4c1b1;
}

.keen-slider {
  transition: height 0.3s;
}

.keen-slider .keen-slider__slide {
  min-height: auto !important;
}
